.image-container {
  position: absolute;
  width: 400px;
  height: 400px;
  left: 55%;
  top: 30%;

  background: #e5dbff;
  box-shadow: inset 0px 4.26556px 3.19917px -270.863px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 0px 269.263px;
 
}

.self-image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 0px 268.73px;
}




 
